BPM/Library/metadata/
BPM/BPM.csproj
BPM/Library/expandedItems
BPM/Library/ScriptAssemblies/
BPM/Library/shadercompiler-UnityShaderCompiler.exe0.log
BPM/Library/CurrentLayout.dwlt
BPM/Library/assetDatabase3
BPM/Temp/__Backupscenes/0.backup
BPM/Temp/UnityTempFile-778ca21567fe8734098e54b01b1e8164
BPM/Temp/UnityTempFile-70c7222fa8be95046b2c47970e8e36a6
BPM/Temp/UnityLockfile
BPM/Library/ShaderCache/7/72e11983a932c7c2ef74e62f5aec5870.bin
BPM/Library/ShaderCache/6/65d766d24340875b2091df1ab58d5907.bin
BPM/Library/ShaderCache/1/16aa283808e8e9f6ed916590a5a71da7.bin
BPM/Assets/Prefabs.meta
BPM/Library/ShaderCache/f/fa066748194a2c51878c878af76d0594.bin
BPM/Library/ShaderCache/e/e7abcba6367f8cb11162d978747624b2.bin
BPM/Library/ShaderCache/d/de39407681e97007d0f13c0821feede5.bin
BPM/Library/ShaderCache/0/0a7b9d78acf7777694439441ed6086db.bin
BPM/Library/ShaderCache/0/01af25d4589f5ada85837230535242c0.bin
BPM/Library/ShaderCache/0/002b58be7c3e7374f19e6d487d762980.bin
BPM/Library/EditorInstance.json
BPM/Assets/Sprites.meta
BPM/Assets/Scenes.meta
BPM/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BPM/Temp/UnityVS_obj/Debug/BPM.csproj.CoreCompileInputs.cache
BPM/Temp/UnityTempFile-7b24222cd6412d441967d690545eb4d0
BPM/Library/ShaderCache/d/d82380d73bcfcfdad359a6583b81269a.bin
BPM/Library/ShaderCache/c/cde19d8302ced970b34642cf24d1f690.bin
BPM/Library/ShaderCache/9/986342294cc3709451a3ccac9e352acc.bin
